@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

// Configuração geral
body {
  font-family: "Poppins", sans-serif;
  background-color: #0d0d0d;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

// Responsividade para telas menores
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  button {
    width: 100%;
  }
}
